      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-green"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Queensborough Community College</b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020-<span class="w3-tag w3-green w3-round">Current</span></h6>
          <p>Studying graphic design</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University of Minnesota</b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - 2020</h6>
          <p>Generals</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Columbia Hieghts High School</b></h5>
          <h6 class="w3-text-green"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2019</h6>
          <p>High School Degree</p><br>
        </div>
      </div>